.centerTxt{
    text-align: center;
}

.cryptopunk {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    // background-color: #638596;
    
  }

  .title{
      margin-top: 30px;
      font-weight: bold;
      font-size: large;
  }

  .loginbutton{
     font-weight: bold;
  }
  
  .rules{
      margin-left: 15px;
  }

  .rulesGrid{
    display: grid;
    grid-template-columns: 0.5fr 9fr;
  }

  .descTitle{
      font-weight: bold;
      margin-bottom: 0;
  }

  .challengeEnd {
      display: flex;
      justify-content: flex-end;
  }