.content{
    margin: 10%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
    row-gap: 4em;
    margin: 10%;
    margin-top: 5%;
}

table {
    width: 100%;
  }