.content{
    margin: 10%;
    margin-top: 5%;
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
    row-gap: 4em;
    margin: 10%;
    margin-top: 5%;
}

@media (min-width: 1000px) {
    .content { grid-template-columns: repeat(2, 1fr); }
  }

table {
    width: 100%;
  }

  .sumbitButton{
      margin-top: 30px;
      border: solid;
      width: 100%;
  }

  // .log.mat-row:hover .log.mat-cell {
  //   border-color: currentColor;
  // }
  
  // .log.demo-row-is-clicked {
  //   font-weight: bold;
  // }

  // .log.mat-row .log.mat-cell {
  //   border-bottom: 1px solid transparent;
  //   border-top: 1px solid transparent;
  //   cursor: pointer;
  // }

  .icon{
    font-size: 40px;

    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

.spinner{
  display: flex;
  justify-content: center;
}

.creationDetails{
  font-size: 12px;
}

.tutorial{
  margin-top: 25px;
}

.attempts{
  display: flex;
  justify-content: space-between;
}