.spinner{
    display: flex;
    justify-content: center;
  }

  .error{
      color: red;
  }

  .errorIcon{
    font-size: 150px;
    width: 150px;
    height: 150px;
    line-height: 150px;
  }

  .exit{
      vertical-align: bottom;
  }

  .success{
      color: green;
  }

  .iconWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }