.header{
    // margin-left: 70%;
    font-size: 14px;
    cursor: pointer;
}

.connectButton{
    float: right;
}

.accountWrapper{
    width: 100%;
    right: 0;
}

.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 140px 140px 140px 2fr;
    column-gap: 20px;
}

.about{
    font-weight: 100;
    cursor: pointer;
}
.address{
    font-size: x-small;
    float: right;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
  }

  .toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }

  .links{
      margin-top:65pt;
    display: flex;
    flex-direction: column;
  }